---
title: Create a named group in a JavaScript RegExp
datetime: 2022-04-08T15:45:10.557Z
---

To create a named group in a JavaScript RegExp, we can use the `(?<name>...)` syntax:

```ts twoslash
// @lib: esnext
const text = 'foo bar foo'
const regex = /(?<wanted>bar)/

const result = regex.exec(text)
if (result === null) {
    throw new Error('No match')
}

const wantedGroup = result.groups?.wanted
//        ^?
```
